
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*<div>
    <h2 class="btn-primary">PROJE FERHAT SAKAR TARAFINDAN HAZIRLANMIŞTIR</h2>
</div>
<div>
    <h3><b> Öğrenilen Başlıklar:</b></h3>
    <p> Controller kullanımları</p>
    <p> Index kullanımları</p>
    <p> HTML KAVRAMLAR</p>
    <p> Ekleme</p>
    <p> Silme</p>
    <p> Güncelleme</p>
    <p> Arama</p>
    <p>Sayfalar arası geçiş</p>
    <p> DropDownList</p>
    <p> Validation kontrolleri</p>
    <p> Alert</p>
    <p> Popup</p>
    <p> Modal kullanımları</p>
</div>*@
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">PROJE FERHAT SAKAR TARAFINDAN HAZIRLANMIŞTIR</h1>
    </div>

    <div class="row">
        <div class="">
            <h2><b>Öğrenilen Başlıklar:</b></h2>
            <ul class="list-inline">
                <li class="list-group-item">Controller kullanımları</li>
                <li class="list-group-item">Index kullanımları</li>
                <li class="list-group-item">HTML KAVRAMLAR</li>
                <li class="list-group-item">Ekleme</li>
                <li class="list-group-item">Silme</li>
                <li class="list-group-item">Güncelleme</li>
                <li class="list-group-item">Arama</li>
                <li class="list-group-item">Sayfalar arası geçiş</li>
                <li class="list-group-item">DropDownList</li>
                <li class="list-group-item">Validation kontrolleri</li>
                <li class="list-group-item">Alert</li>
                <li class="list-group-item">Popup</li>
                <li class="list-group-item">Modal kullanımları</li>
            </ul>
        </div>
    </div>
</div>
